/*!
 * Author: Jinglan Wang, original css skeleton courtesy of Start Bootstrap;
 */

body {
    width: 100%;
    height: 100%;
    font-family: Lato-light,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:100;
    color: #fff;
    letter-spacing: 1px;
    background-color: #fff;
    color:#647882;
}

html {
    width: 100%;
    height: 100%;
}

/* Big and shalala */
h1{    
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Bebas Neue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:500%;
    font-weight: 100;
    letter-spacing: 5px;
    color:#435057;
}
/* More muted, professional */
h2{
    margin: 0 0 35px;
    font-family: Bebas Neue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:400%;
    font-weight: 100;
    letter-spacing: 5px;
    color:#647882;
}
/* Very light, docile */
h3{
    margin: 0 0 35px;
    font-family: Bebas Neue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:200%;
    font-weight: 100;
    letter-spacing: 5px;
    color:#8c9ea7;
}
/* Big and shalala */
h4{
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Lato-light,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:500%;
    font-weight: 100;
    letter-spacing: 10px;
    color:#435057;
}
/* Good visibility, still clean */
h5{
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Lato-light,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:250%;
    font-weight: 100;
    letter-spacing: 3px;
    color:#647882;
}
/* Small lightweight and professional - clean and sharp */
h6 {
    margin: 0 0 35px;
    font-family: Lato-light,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:150%;
    font-weight: 300;
    letter-spacing: 3px;
    color:#8c9ea7;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 50;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 18px;
        line-height: 1.6;
        font-weight: 50;
    }
}


a {
    color: #a6ce39;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #779625;
}

.light {
    font-weight: 100;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #a6ce39;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #000;
    background: url(../img/LandingPage.png) no-repeat bottom center scroll;
    /*!
    * for better visibility of the text on the landing page
    * box-shadow: inset 0px 0px 0px 9999px rgba(0,0,0,0.5);
    */
    box-shadow: inset 0px 0px 0px 9999px rgba(0,0,0,0.5);
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.page-about .about-items .item {
    position: relative;
    display: inline-block;
    color: #000000;
    overflow: hidden
}
.page-about .about-items .item:hover .about-overlay {
    opacity: .95;
    filter: alpha(opacity=95);
    left: 0;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
}
.page-about .about-items .about-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    position: absolute;
    display: block;
    z-index: 4;
    background-color: #647882;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}
.page-about .about-items .about-overlay .social-icons {
    left: 50%;
    margin-left: -85px;
    margin-top: -15px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 170px;
    z-index: 6
}
.page-about .about-items .about-overlay .social-icons a {
    padding: 4px
}
.page-about .about-items .about-overlay .social-icons i {
    display: inline-block
}
.img-circle {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px
}
.thumbnails {
    margin-left: -21px;
    list-style: none;
    *zoom: 1
}
.thumbnails:before,
.thumbnails:after {
    display: table;
    content: "";
    line-height: 0
}
.thumbnails:after {
    clear: both
}
.row-fluid .thumbnails {
    margin-left: 0
}
.thumbnails>li {
    float: left;
    margin-bottom: 27px;
    margin-left: 21px
}
.thumbnail {
    display: block;
    padding: 4px;
    line-height: 27px;
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
a.thumbnail:hover,
a.thumbnail:focus {
    border-color: #4e808e;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25)
}
.thumbnail>img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}
.thumbnail .caption {
    padding: 9px;
    color: #aaa
}
.social-icons {
    display: table
}
.social-icons a {
    display: table-cell
}
[class^="sicon-"] i,
[class*=" sicon-"] i {
    display: block;
    width: 25px;
    height: 25px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(../img/icons/sicon-set.png);
    background-repeat: no-repeat;
    text-indent: -99999px;
    text-align: center
}
.sicon-white i {
    background-image: url(../img/icons/sicon-set-white.png)
}
.sicon-black i {
    background-image: url(../img/icons/sicon-set.png)
}
.sicon-search i {
    background-position: 3px 0
}
.sicon-place i {
    background-position: -37px 0
}
.sicon-phone i {
    background-position: -77px 0
}
.sicon-mail i {
    background-position: -117px 0
}
.sicon-clock i {
    background-position: -157px 0
}
.sicon-facebook i {
    background-position: -197px 0
}
.sicon-twitter i {
    background-position: -237px -1px
}
.sicon-linkedin i {
    background-position: -277px -1px
}
.sicon-youtube i {
    background-position: -317px -1px
}
.sicon-pinterest i {
    background-position: -356px -1px
}
.social-icons.bordered {
    border-right: 2px solid #fff
}
.social-icons.bordered a {
    border: 2px solid #fff;
    border-right: 0;
    padding: 6px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
.social-icons.bordered a:hover {
    background-color: #fff
}
.social-icons.bordered a:hover i {
    background-image: url(../img/icons/sicon-set.png)
}
.social-icons.bordered-black {
    border-right: 2px solid #292929
}
.social-icons.bordered-black a {
    border: 2px solid #292929;
    border-right: 0
}
.social-icons.bordered-black a:hover {
    background-color: #292929
}
.social-icons.bordered-black a:hover i {
    background-image: url(../img/icons/sicon-set-white.png)
}
.social-icons.hover-big [class^="sicon-"],
.social-icons.hover-big [class*=" sicon-"] {
    padding: 9px 8px 8px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
.social-icons.hover-big a i {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.social-icons.hover-big a:hover i {
    background-image: url(../img/icons/sicon-set-white.png)
}
.social-icons.hover-big .sicon-facebook:hover {
    background-color: #3b5998
}
.social-icons.hover-big .sicon-twitter:hover {
    background-color: #44cbff
}
.social-icons.hover-big .sicon-linkedin:hover {
    background-color: #1e79c0
}
.social-icons.hover-big .sicon-youtube:hover {
    background-color: #f00
}
.social-icons.hover-big .sicon-pinterest:hover {
    background-color: #d90000
}
.social-icons.hover-big .sicon-search:hover {
    background-color: #000
}
.social-icons.hover-big .sicon-place:hover {
    background-color: #000
}
.social-icons.hover-big .sicon-phone:hover {
    background-color: #000
}
.social-icons.hover-big .sicon-mail:hover {
    background-color: #000
}
.social-icons.hover-big .sicon-clock:hover {
    background-color: #000
}
.col-1-2{
    width:45%;
}

.smallFontBy08 {
    font-size: .8em;
    line-height: 22.5px
}

.features-section {
    width:100%;
    color: #fff;
    background-color: #000;
}

.details-section {
    width: 100%;
    height: auto;
    padding: 100px;
    background-color: #000001;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #a6ce39;
    color: #a6ce39;
    background-color: transparent;
}

.btn-default:hover{
    border: 1px solid #a6ce39;
    outline: 0;
    color: #fff;
    background-color: #a6ce39;
}
.btn-default:focus {
    border: 1px solid #a6ce39;
    outline: 0;
    color: #000;
    background-color: #a6ce39;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}
